h1 {
	color: blue;
	font-size: 52px;
	font-weight: bolder;
	
}


body {
	font-family: courier; 
	color: white;
	background-color: rgb(240,240,240);
	text-align: center;

}

p {
	color: blue;
	font-size: 32px;
	text-align: center;
}

ul {
	text-align: left;
}



a {
	color: black;
	text-decoration: none;
	transition: color 0,3s ease; 
}
a:hover {
	color : grey;
	text-decoration: none;
}

#logo {
	width: 400px;
	border-radius: 20px;
}

.container {
	width: 700px;
	margin: 40px auto;
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 100px 30px rgba(240,240,240)
	border-radius: 4px;
	margin: 20px 100px;
	text-align: center;
}

h2, h3, h4 {
	color: black;
}

h4 {
	font-size: 32px; 
}

