.container {
	width: 700px;
	margin: 40px auto;
}

.banner {
	background-image: url(images/chris-ried-ieic5tq8ymk-unsplash.png);
	color: grey;
	padding: 150px 0px;
	background-size: cover;
	margin-bottom: 55px;
}

.btn-blue {
	background-color: orange;
	border-radius: 40px;
	padding: 15px 20px;
	color: white;
	margin: 20px;
}

.card-white {
	background-color: grey;
	padding: 40px;
	border-radius: 50px;
	margin: 20px 100px;
	text-align: left;
	background-size: cover;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-bottom: 55px;
}

#photo {
	width: 100px;
	border-radius: 50px;
}

h1 {
	color: white;
	font-size: 52px;
	font-weight: bolder;
	font-family: sans-serif;
}

h2, h3, h4 {
	color: white;
	font-size: 27px;
	font-family: sans-serif;
}

p {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}



body {
	font-size: 18px;
	margin: 0px;
}

a {
	color: orange;
	font-family: sans-serif;
	text-decoration: none;
	transition: color 0,3s ease; 
}

a:hover {
	color: black;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}



